
.twcicn-reply:before { content: '\e800'; } /* '' */
.twcicn-twitter-shot:before { content: '\e801'; } /* '' */
.twcicn-caret-l:before { content: '\e802'; } /* '' */
.twcicn-caret-r:before { content: '\e803'; } /* '' */
.twcicn-check:before { content: '\e804'; } /* '' */
.twcicn-cog:before { content: '\e805'; } /* '' */
.twcicn-quote:before { content: '\e806'; } /* '' */
.twcicn-twitter:before { content: '\e807'; } /* '' */
.twcicn-x:before { content: '\e808'; } /* '' */